In [171]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import Imputer, OneHotEncoder, StringIndexer, IndexToString
from pyspark.ml import Pipeline
from pyspark.ml.feature import StandardScaler, MinMaxScaler, RobustScaler
from pyspark.ml.feature import VectorAssembler
from pyspark.sql import DataFrame
from pyspark.sql.functions import col,when
from pyspark.sql.functions import col, lit, coalesce
import pandas as pd

In [172]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [173]:
spark

In [174]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('train2.csv',inferSchema=True)

In [175]:
### Check the schema
df_pyspark.printSchema()

root
 |-- id: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- city_code: string (nullable = true)
 |-- region_code: string (nullable = true)
 |-- center_type: string (nullable = true)
 |-- op_area: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- checkout_price: double (nullable = true)
 |-- base_price: double (nullable = true)
 |-- emailer_for_promotion: integer (nullable = true)
 |-- homepage_featured: integer (nullable = true)
 |-- num_orders: integer (nullable = true)

In [176]:
df_pyspark=spark.read.csv('train1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+----+---------+-----------+-----------+-------+---------+-----------+--------------+----------+---------------------+-----------------+----------+
|     id|week|city_code|region_code|center_type|op_area| category|    cuisine|checkout_price|base_price|emailer_for_promotion|homepage_featured|num_orders|
+-------+----+---------+-----------+-----------+-------+---------+-----------+--------------+----------+---------------------+-----------------+----------+
|1379560|   1|      647|         56|     TYPE_C|    2.0|Beverages|       Thai|        136.83|    152.29|                    0|                0|       177|
|1466964|   1|      647|         56|     TYPE_C|    2.0|Beverages|       Thai|        136.83|    135.83|                    0|                0|       270|
|1346989|   1|      647|         56|     TYPE_C|    2.0|Beverages|       Thai|        134.86|    135.86|                    0|                0|       189|
|1338232|   1|      647|         56|     TYPE_C|    2.0|Beverages|     Indian|         339.5|    437.53|                    0|                0|        54|
|1448490|   1|      647|         56|     TYPE_C|    2.0|Beverages|     Indian|         243.5|     242.5|                    0|                0|        40|
|1270037|   1|      647|         56|     TYPE_C|    2.0|Beverages|     Indian|        251.23|    252.23|                    0|                0|        28|
|1191377|   1|      647|         56|     TYPE_C|    2.0|Beverages|    Italian|        183.36|    184.36|                    0|                0|       190|
|1499955|   1|      647|         56|     TYPE_C|    2.0|Beverages|    Italian|        182.36|    183.36|                    0|                0|       391|
|1025244|   1|      647|         56|     TYPE_C|    2.0|Beverages|    Italian|        193.06|    192.06|                    0|                0|       472|
|1054194|   1|      647|         56|     TYPE_C|    2.0|Beverages|Continental|        325.92|    384.18|                    0|                1|       676|
|1469367|   1|      647|         56|     TYPE_C|    2.0|Beverages|Continental|        323.01|     390.0|                    0|                1|       823|
|1029333|   1|      647|         56|     TYPE_C|    2.0|Beverages|Continental|        322.07|     388.0|                    0|                1|       972|
|1446016|   1|      647|         56|     TYPE_C|    2.0|Rice Bowl|     Indian|        311.43|    310.43|                    0|                0|       162|
|1244647|   1|      647|         56|     TYPE_C|    2.0|Rice Bowl|     Indian|        445.23|    446.23|                    0|                0|       420|
|1378227|   1|      647|         56|     TYPE_C|    2.0|Rice Bowl|     Indian|        264.84|    297.79|                    1|                0|       756|
|1181556|   1|      647|         56|     TYPE_C|    2.0| Starters|       Thai|        282.33|    281.33|                    0|                0|       108|
|1313873|   1|      647|         56|     TYPE_C|    2.0|    Pasta|    Italian|         243.5|    340.53|                    0|                0|        28|
|1067069|   1|      647|         56|     TYPE_C|    2.0|    Pasta|    Italian|         486.0|     485.0|                    0|                0|        28|
|1058482|   1|      647|         56|     TYPE_C|    2.0| Sandwich|    Italian|        306.58|    305.58|                    0|                0|       188|
|1240935|   1|      647|         56|     TYPE_C|    2.0| Sandwich|    Italian|        289.12|    289.12|                    0|                0|       485|
+-------+----+---------+-----------+-----------+-------+---------+-----------+--------------+----------+---------------------+-----------------+----------+
only showing top 20 rows

In [177]:
# Drop the 'id' column
df_pyspark = df_pyspark.drop('id')

In [178]:
df_pyspark.head(5)

[Row(week=1, city_code=647, region_code=56, center_type='TYPE_C', op_area=2.0, category='Beverages', cuisine='Thai', checkout_price=136.83, base_price=152.29, emailer_for_promotion=0, homepage_featured=0, num_orders=177),
 Row(week=1, city_code=647, region_code=56, center_type='TYPE_C', op_area=2.0, category='Beverages', cuisine='Thai', checkout_price=136.83, base_price=135.83, emailer_for_promotion=0, homepage_featured=0, num_orders=270),
 Row(week=1, city_code=647, region_code=56, center_type='TYPE_C', op_area=2.0, category='Beverages', cuisine='Thai', checkout_price=134.86, base_price=135.86, emailer_for_promotion=0, homepage_featured=0, num_orders=189),
 Row(week=1, city_code=647, region_code=56, center_type='TYPE_C', op_area=2.0, category='Beverages', cuisine='Indian', checkout_price=339.5, base_price=437.53, emailer_for_promotion=0, homepage_featured=0, num_orders=54),
 Row(week=1, city_code=647, region_code=56, center_type='TYPE_C', op_area=2.0, category='Beverages', cuisine='Indian', checkout_price=243.5, base_price=242.5, emailer_for_promotion=0, homepage_featured=0, num_orders=40)]

In [179]:
# Check for generic missing values (null, empty string, or any other placeholder)
missing_columns = [
    col_name for col_name in df_pyspark.columns
    if (df_pyspark
        .filter((col(col_name).isNull()) | (col(col_name) == "") | (col(col_name) == " "))
        .count() > 0)
]
missing_columns

[]

In [180]:
# categorical columns
categorical_columns = [col[0] for col in df_pyspark.dtypes if col[1] == 'string']

categorical_columns

['center_type', 'category', 'cuisine']

In [181]:

# Create a list of StringIndexer stages for each categorical column
indexer_stages = [StringIndexer(inputCol=col_name, outputCol=f"{col_name}_index") for col_name in categorical_columns]

# Create a pipeline with all the StringIndexer stages
pipeline = Pipeline(stages=indexer_stages)

# Fit the pipeline on the data
indexer_model = pipeline.fit(df_pyspark)

# Transform the data using the fitted pipeline
df_pyspark = indexer_model.transform(df_pyspark)
# drop the categorcial columns
df_pyspark = df_pyspark.drop(*categorical_columns)


df_pyspark.show()

+----+---------+-----------+-------+--------------+----------+---------------------+-----------------+----------+-----------------+--------------+-------------+
|week|city_code|region_code|op_area|checkout_price|base_price|emailer_for_promotion|homepage_featured|num_orders|center_type_index|category_index|cuisine_index|
+----+---------+-----------+-------+--------------+----------+---------------------+-----------------+----------+-----------------+--------------+-------------+
|   1|      647|         56|    2.0|        136.83|    152.29|                    0|                0|       177|              1.0|           0.0|          1.0|
|   1|      647|         56|    2.0|        136.83|    135.83|                    0|                0|       270|              1.0|           0.0|          1.0|
|   1|      647|         56|    2.0|        134.86|    135.86|                    0|                0|       189|              1.0|           0.0|          1.0|
|   1|      647|         56|    2.0|         339.5|    437.53|                    0|                0|        54|              1.0|           0.0|          2.0|
|   1|      647|         56|    2.0|         243.5|     242.5|                    0|                0|        40|              1.0|           0.0|          2.0|
|   1|      647|         56|    2.0|        251.23|    252.23|                    0|                0|        28|              1.0|           0.0|          2.0|
|   1|      647|         56|    2.0|        183.36|    184.36|                    0|                0|       190|              1.0|           0.0|          0.0|
|   1|      647|         56|    2.0|        182.36|    183.36|                    0|                0|       391|              1.0|           0.0|          0.0|
|   1|      647|         56|    2.0|        193.06|    192.06|                    0|                0|       472|              1.0|           0.0|          0.0|
|   1|      647|         56|    2.0|        325.92|    384.18|                    0|                1|       676|              1.0|           0.0|          3.0|
|   1|      647|         56|    2.0|        323.01|     390.0|                    0|                1|       823|              1.0|           0.0|          3.0|
|   1|      647|         56|    2.0|        322.07|     388.0|                    0|                1|       972|              1.0|           0.0|          3.0|
|   1|      647|         56|    2.0|        311.43|    310.43|                    0|                0|       162|              1.0|           1.0|          2.0|
|   1|      647|         56|    2.0|        445.23|    446.23|                    0|                0|       420|              1.0|           1.0|          2.0|
|   1|      647|         56|    2.0|        264.84|    297.79|                    1|                0|       756|              1.0|           1.0|          2.0|
|   1|      647|         56|    2.0|        282.33|    281.33|                    0|                0|       108|              1.0|           4.0|          1.0|
|   1|      647|         56|    2.0|         243.5|    340.53|                    0|                0|        28|              1.0|           8.0|          0.0|
|   1|      647|         56|    2.0|         486.0|     485.0|                    0|                0|        28|              1.0|           8.0|          0.0|
|   1|      647|         56|    2.0|        306.58|    305.58|                    0|                0|       188|              1.0|           2.0|          0.0|
|   1|      647|         56|    2.0|        289.12|    289.12|                    0|                0|       485|              1.0|           2.0|          0.0|
+----+---------+-----------+-------+--------------+----------+---------------------+-----------------+----------+-----------------+--------------+-------------+
only showing top 20 rows

In [182]:
# Assuming your DataFrame is named 'df'
df_pyspark = df_pyspark.select(
    "week",
    "city_code",
    "region_code",
    "op_area",
    "checkout_price",
    "base_price",
    "emailer_for_promotion",
    "homepage_featured",
    "center_type_index",
    "category_index",
    "cuisine_index",
    "num_orders"  # Move 'num_orders' to the last position
)

# Show the modified DataFrame
df_pyspark.show()

+----+---------+-----------+-------+--------------+----------+---------------------+-----------------+-----------------+--------------+-------------+----------+
|week|city_code|region_code|op_area|checkout_price|base_price|emailer_for_promotion|homepage_featured|center_type_index|category_index|cuisine_index|num_orders|
+----+---------+-----------+-------+--------------+----------+---------------------+-----------------+-----------------+--------------+-------------+----------+
|   1|      647|         56|    2.0|        136.83|    152.29|                    0|                0|              1.0|           0.0|          1.0|       177|
|   1|      647|         56|    2.0|        136.83|    135.83|                    0|                0|              1.0|           0.0|          1.0|       270|
|   1|      647|         56|    2.0|        134.86|    135.86|                    0|                0|              1.0|           0.0|          1.0|       189|
|   1|      647|         56|    2.0|         339.5|    437.53|                    0|                0|              1.0|           0.0|          2.0|        54|
|   1|      647|         56|    2.0|         243.5|     242.5|                    0|                0|              1.0|           0.0|          2.0|        40|
|   1|      647|         56|    2.0|        251.23|    252.23|                    0|                0|              1.0|           0.0|          2.0|        28|
|   1|      647|         56|    2.0|        183.36|    184.36|                    0|                0|              1.0|           0.0|          0.0|       190|
|   1|      647|         56|    2.0|        182.36|    183.36|                    0|                0|              1.0|           0.0|          0.0|       391|
|   1|      647|         56|    2.0|        193.06|    192.06|                    0|                0|              1.0|           0.0|          0.0|       472|
|   1|      647|         56|    2.0|        325.92|    384.18|                    0|                1|              1.0|           0.0|          3.0|       676|
|   1|      647|         56|    2.0|        323.01|     390.0|                    0|                1|              1.0|           0.0|          3.0|       823|
|   1|      647|         56|    2.0|        322.07|     388.0|                    0|                1|              1.0|           0.0|          3.0|       972|
|   1|      647|         56|    2.0|        311.43|    310.43|                    0|                0|              1.0|           1.0|          2.0|       162|
|   1|      647|         56|    2.0|        445.23|    446.23|                    0|                0|              1.0|           1.0|          2.0|       420|
|   1|      647|         56|    2.0|        264.84|    297.79|                    1|                0|              1.0|           1.0|          2.0|       756|
|   1|      647|         56|    2.0|        282.33|    281.33|                    0|                0|              1.0|           4.0|          1.0|       108|
|   1|      647|         56|    2.0|         243.5|    340.53|                    0|                0|              1.0|           8.0|          0.0|        28|
|   1|      647|         56|    2.0|         486.0|     485.0|                    0|                0|              1.0|           8.0|          0.0|        28|
|   1|      647|         56|    2.0|        306.58|    305.58|                    0|                0|              1.0|           2.0|          0.0|       188|
|   1|      647|         56|    2.0|        289.12|    289.12|                    0|                0|              1.0|           2.0|          0.0|       485|
+----+---------+-----------+-------+--------------+----------+---------------------+-----------------+-----------------+--------------+-------------+----------+
only showing top 20 rows

In [184]:
# Standardize all the columns
feature_columns = df_pyspark.columns


assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
df_pyspark = assembler.transform(df_pyspark)

scaler = StandardScaler(inputCol="features", outputCol="scaled_features", withStd=True, withMean=True)
scaler_model = scaler.fit(df_pyspark)
df_pyspark = scaler_model.transform(df_pyspark)

#df_target = df_pyspark.select("scaled_features")

#df_pyspark.select("scaled_features").show(truncate=False)

df_pyspark = df_pyspark.select("scaled_features")

df_pyspark.show(truncate=False)
#df_pyspark.show(truncate=False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|scaled_features                                                                                                                                                                                                                                   |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-1.2776859296489929,-1.2560462896342774,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,-0.38510495194384187,-0.2143669443913471]  |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-1.2776859296489929,-1.3584630297776488,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,-0.38510495194384187,0.020527334317234015] |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-1.2905668212669,-1.3582763650021747,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,-0.38510495194384187,-0.18405800520314308]    |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,0.04747666131611657,0.518762395571995,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,0.5152514423066721,-0.5250335710704382]      |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.580221610419466,-0.6947453097841237,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,0.5152514423066721,-0.560394000123343]      |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.5296788224974238,-0.6342037009387409,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,0.5152514423066721,-0.5907029393115469]    |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.9734484235671527,-1.0565016446526299,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,-1.2854613461943558,-0.18153226027079275]  |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.9799869472310649,-1.0627238038350946,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,-1.2854613461943558,0.3261424711316245]    |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.9100247440272032,-1.0085910189476506,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-1.0847567187456257,-1.2854613461943558,0.5307278106520016]    |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.0413164900398126,0.18681020318749564,-0.2971862303521698,2.856133563210548,0.4603362691941659,-1.0847567187456257,1.415607836557186,1.0459797768514698]         |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.06034359390179761,0.223023169629441,-0.2971862303521698,2.856133563210548,0.4603362691941659,-1.0847567187456257,1.415607836557186,1.4172642819069687]          |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.06648980614587517,0.2105788512645113,-0.2971862303521698,2.856133563210548,0.4603362691941659,-1.0847567187456257,1.415607836557186,1.7936002768271686]         |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.13605969792990213,-0.27207403651928674,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-0.8301837205278512,0.5152514423066721,-0.2522531183766021]  |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,0.738794768301566,0.5728951804594394,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-0.8301837205278512,0.5152514423066721,0.3993890741697842]        |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.44068951543157725,-0.3507221285856423,3.364886079899447,-0.35012291530432504,0.4603362691941659,-0.8301837205278512,0.5152514423066721,1.2480393714394966]      |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.32633073654975076,-0.4531388687290139,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-0.0664647258745276,-0.38510495194384187,-0.38864334472352013]|
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.580221610419466,-0.08478704512709509,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,0.9518272669965705,-1.2854613461943558,-0.5907029393115469]    |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,1.005370378079271,0.8141282919636014,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,0.9518272669965705,-1.2854613461943558,-0.5907029393115469]       |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.16777153769987704,-0.3022515085542414,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-0.5756107223100766,-1.2854613461943558,-0.18658375013549341] |
|[-1.7764924456907198,0.686546923842498,-0.03483677923496167,-1.908597432470319,-0.28193416087178597,-0.40466824869761264,-0.2971862303521698,-0.35012291530432504,0.4603362691941659,-0.5756107223100766,-1.2854613461943558,0.5635624947725559]  |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [185]:
# conversion to pandas

pandas_df = df_pyspark.select("scaled_features").toPandas()

# Extract individual columns from the array column 'scaled_features'
scaled_features_columns = ["feature_" + str(i) for i in range(len(pandas_df["scaled_features"][0]))]

# Create individual columns in the Pandas DataFrame
pandas_df[scaled_features_columns] = pd.DataFrame(pandas_df["scaled_features"].tolist(), index=pandas_df.index)

# Drop the original array column 'scaled_features'
pandas_df = pandas_df.drop(columns=["scaled_features"])
pandas_df.columns = [
    "week", "city_code", "region_code", "op_area", "checkout_price", "base_price",
    "emailer_for_promotion", "homepage_featured", "center_type_index", "category_index",
    "cuisine_index", "num_orders"
]

pandas_df

,week,city_code,region_code,op_area,checkout_price,base_price,emailer_for_promotion,homepage_featured,center_type_index,category_index,cuisine_index,num_orders
0,-1.776492,0.686547,-0.034837,-1.908597,-1.277686,-1.256046,-0.297186,-0.350123,0.460336,-1.084757,-0.385105,-0.214367
1,-1.776492,0.686547,-0.034837,-1.908597,-1.277686,-1.358463,-0.297186,-0.350123,0.460336,-1.084757,-0.385105,0.020527
2,-1.776492,0.686547,-0.034837,-1.908597,-1.290567,-1.358276,-0.297186,-0.350123,0.460336,-1.084757,-0.385105,-0.184058
3,-1.776492,0.686547,-0.034837,-1.908597,0.047477,0.518762,-0.297186,-0.350123,0.460336,-1.084757,0.515251,-0.525034
4,-1.776492,0.686547,-0.034837,-1.908597,-0.580222,-0.694745,-0.297186,-0.350123,0.460336,-1.084757,0.515251,-0.560394
...,...,...,...,...,...,...,...,...,...,...,...,...
456543,1.691302,-1.942014,1.155551,0.381437,0.992882,0.808466,-0.297186,-0.350123,-0.784669,0.442681,0.515251,-0.489673
456544,1.691302,-1.942014,1.155551,0.381437,0.979805,0.796022,-0.297186,-0.350123,-0.784669,0.442681,0.515251,-0.555343
456545,1.691302,-1.942014,1.155551,0.381437,-0.618276,-0.205870,-0.297186,-0.350123,-0.784669,0.697254,-1.285461,0.603974
456546,1.691302,-1.942014,1.155551,0.381437,-0.580222,-0.253968,-0.297186,-0.350123,-0.784669,0.697254,-1.285461,1.179844
456547,1.691302,-1.942014,1.155551,0.381437,-0.262907,-0.399006,-0.297186,-0.350123,-0.784669,0.697254,-1.285461,-0.252253